body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #fff;
    width: 125%;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid #dbdbdb;
}

.logo {
    font-family: cursive;
    font-size: 20px;

}

input {
    background: #fafafa;
    padding: 10px;
    border: 1px solid #dbdbdb;
    margin-bottom: 6px;
    width: 85%;
    font-size: 14px;
}

.log-in {
    background: #3897f0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    width: 95%;
    border: none;
    font-size: 12px;
}

.or {
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}

span {
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;

}

.facebook {
    color: #1a2493;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.password {
    font-size: 12px;
    text-decoration: none;
    color: #1a2493;

}

.sign-up {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 6px;
    width: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
}

.sign {
    color: #1877f2;
    padding-left: 3px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.sign:hover {
    text-decoration: underline;
    color: #003;
}